<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quality car services, neighbour-like attitude</h2>
                <hr class="light">
                <p class="text-faded">Master Technician with more than 10 years of experience and an apprentice with the best will to learn, with the main aim to build the most badass Honda Civic and the Toyota MR2 for the Nurburgring</p>
                <a href="{{ site.baseurl }}/blogs" class="btn btn-default btn-xl">See our Project Cars!</a>
            </div>
        </div>
    </div>
</section>
